*{
    margin-top: 0;
    padding: 0;
}
nav {
    width: 100%;
    height: 100px;
    background-color: #fff;
}
body {
    background-color: #eee;
}
.wrapper{
    margin: 0 auto;
    width: 1000px;
    background-color: red;
}
ul {

}
ul li{
   list-style: none;
   display: inline;
   float: left;
   line-height: 100px; 
}
ul li a{
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-family: arial;
    color: #1e1e1e;
    padding: 0 20px;
}
.img-mine{
    height: 300px;
    width: 200px;
}